{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="featured-section">
        <h2>{{ text }}</h2>
        <div id="circles" style="width:{% if choice_list.count == 2 %} 50%; {% elif choice_list.count == 3 %} 75%; {% else %} 100%; {% endif %}">
            {% for choice in choice_list %}
            <div class="black-circle circle {% if forloop.first %}first{% endif %}">
                <br>
                <h3>
                    <em>{{ choice }}</em>
                </h3>
                <a href="{% url 'polls:vote' choice_id=choice.id poll_id=poll.id %}">Vote!</a>
                <p>Voices: {{ choice.voices }}</p>
            </div>
            <!--end circle-->
            {% endfor %}
        </div>
        <!--end circles-->
    </div>
    <!--end featured-section-->
    <div id="frontpage-main">
        <div id="overview" class="frontpage-section">
            <h3>[ADD TITLE]</h3>
            <p>[ADD OVERVIEW]</p>
            <ul class="blue-bullets">
                <li>[ADD CONTENT]</li>
                <li>[ADD CONTENT]</li>
                <li>[ADD CONTENT]</li>
                <li>[ADD CONTENT]</li>
            </ul>
        </div>
        <!--end frontpage-content-->
        <div id="latest-article" class="frontpage-section">
            <h3>Latest Article</h3>
            <a class="article-title" href="#">[ADD ARTICLE TITLE]</a>
            <p class="meta">Posted By: [ADD AUTHOR NAME]</p>
            <p>[ADD ARTICLE OVERVIEW]</p>
            <a class="read-more" href="#">Read More &raquo;</a>
        </div>
        <!--end frontpage-sidebar-->
    </div>
    <!--end frontpage-main-->
{% endblock content %}
<div class="cache-images">
    <img src="{% static 'images/red-button-bg.png' %}"
         width="0"
         height="0"
         alt=""/>
</div>
<!--end cache-images-->
