{% extends 'base.html' %}
{% load static %}
{% block title %}
| Портфолио
{% endblock title %}
{% block content %}
  <div id="portfolio">
    <h2>[ADD INTRODUCTION]</h2>
    <div class="portfolio-item first">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="{% static 'images/280x200.gif'%}" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="{% static 'images/280x200.gif'%}" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="{% static 'images/280x200.gif'%}" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item first">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="{% static 'images/280x200.gif'%}" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="{% static 'images/280x200.gif'%}" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="images/280x200.gif" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item first">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="images/280x200.gif" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="images/280x200.gif" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
    <div class="portfolio-item">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (280x200PX IN SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <a href="#">
        <img src="images/280x200.gif" alt="" />
      </a>
    </div>
    <!--end portfolio-item-->
  </div>
{% endblock content %}
