{% extends 'base.html' %}
{% load static %}
{% block title %}
| Проект
{% endblock title %}
{% block content %}
  <div class="page-headline">Проект номер -- [01]</div>
  <div id="main">
    <div id="project-content">
      <div id="project-header">
        <h3 class="title">
          Проект: <span>YaBoobs</span>
        </h3>
        <h3>
          Дата старта: <span>01.01.2023</span>
        </h3>
        <h3>
          Дата окончания: <span>неизвестно</span>
        </h3>
      </div>
      <!--end project-header-->
      <p>Сайт с постами, комментариями и подписками на авторов</p>
      <a class="read-more" href="http://lordsanchez.pythonanywhere.com/">Посетить сайт &raquo;</a>
    </div>
    <!--end project-content-->
    <div id="project-image-large">
      <!-- UPLOAD PROJECT SCREENSHOT TO THE "IMAGES" FOLDER (400PX IN WIDTH - HEIGHT CAN BE ANY SIZE) - THEN ADD THE URL TO THE SCREENSHOT BELOW -->
      <img src="{% static 'images/400x400.gif' %}" alt="" />
    </div>
    <!--end project-image-large-->
  </div>
{% endblock content %}
