{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="main">
    <div id="content">
      <p>[ADD OVERVIEW]</p>
      <h3>[ADD SERVICE NAME]</h3>
      <p>[ADD SERVICE OVERVIEW]</p>
      <h3>[ADD SERVICE NAME]</h3>
      <p>[ADD SERVICE OVERVIEW]</p>
      <h3>[ADD SERVICE NAME]</h3>
      <p>[ADD SERVICE OVERVIEW]</p>
      <h3>[ADD SERVICE NAME]</h3>
      <p>[ADD SERVICE OVERVIEW]</p>
    </div>
    <!--end content-->
    <div id="sidebar">
      <div id="hire">
        <h3 class="sidebar-title">Want To Hire [ADD COMPANY NAME]?</h3>
        <p>[ADD OVERVIEW]</p>
        <a class="sidebar-button" href="#">Contact Us &raquo;</a>
      </div>
      <!--end hire-->
      <div id="featured-project">
        <h3>Featured Project</h3>
        <p>[ADD OVERVIEW]</p>
        <div class="portfolio-item">
          <a href="#">
            <img src="images/280x200.gif" alt="" />
          </a>
        </div>
        <!--end portfolio-item-->
        <a class="sidebar-button" href="#">All Projects &raquo;</a>
      </div>
      <!--end recent-projects-->
    </div>
    <!--end sidebar-->
  </div>
{% endblock content %}
