<!-- Форма добавления комментария -->
{% comment %} {% load user_filters %} {% endcomment %}
<div class="bootstrap">
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'blog:add_comment' article.id %}">
        {% csrf_token %}   
        <div class="form-group mb-2">
          {{ form.text }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 style="margin-top:30px;">
          - {{ comment.author.username }} -
      </h5>
      <p style="margin-top:20px;">
        {{ comment.text }}
      </p>
      -------------------------
      <p>Дата комментария: {{ comment.created|date:"d.m.Y H:i" }} </p>
      {% if not forloop.last %}<hr>{% endif %}
    </div>
  </div>
{% endfor %} 
</div>