<div id="header">
    <h1>
        Alexandr Trifonov
    </h1>
    <div id="nav">
        {% with request.resolver_match.view_name as view_name %}
        <ul class="menu">
            <li class="{% if view_name  == 'blog:index' %}current_page_item{% endif %}">
                <a href="{% url 'blog:index' %}">Главная</a>
            </li>
            <li class="{% if view_name  == 'blog:services' %}current_page_item{% endif %}">
                <a href="{% url 'blog:services' %}">Services</a>
            </li>
            <li class="{% if view_name  == 'blog:portfolio' %}current_page_item{% endif %}">
                <a href="{% url 'blog:portfolio' %}">Портфолио</a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'blog:project' %}">Latest Project</a>
                    </li>
                    <li>
                        <a href="#">Branding</a>
                    </li>
                    <li>
                        <a href="#">Online Marketing</a>
                    </li>
                    <li>
                        <a href="#">Search Engine Optimization</a>
                    </li>
                    <li>
                        <a href="#">Web Design</a>
                    </li>
                </ul>
            </li>
            <li class="{% if view_name  == 'blog:articles' %}current_page_item{% endif %}">
                <a href="{% url 'blog:articles' %}">Статьи</a>
            </li>
            <li class="{% if view_name  == 'blog:contact' %}current_page_item{% endif %}">
                <a href="{% url 'blog:contact' %}">Связь со мной</a>
            </li>
        </ul>
        {% endwith %}
    </div>
    <!--end nav-->
</div>
<!--end header-->
