<div id="header">
    <h1>
        Alexandr Trifonov
    </h1>
    <div id="nav">
        {% with request.resolver_match.view_name as view_name %}
        <ul class="menu">
            <li class="{% if view_name  == 'blog:index' %}current_page_item{% endif %}">
                <a href="{% url 'blog:index' %}">Главная</a>
            </li>
            <li class="{% if view_name  == 'blog:articles' %}current_page_item{% endif %}">
                <a href="{% url 'blog:articles' %}">Статьи</a>
            </li>
            <li class="{% if view_name  == 'blog:portfolio' %}current_page_item{% endif %}">
                <a href="">Портфолио</a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'blog:project' %}">Проект в работе</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:portfolio' %}">Проекты</a>
                    </li>
                    <li>
                        <a href="#">Технологии</a>
                    </li>
                    <li>
                        <a href="#">Об авторе</a>
                    </li>
                    <li>
                        <a href="#">Топ гайды на Паджеро</a>
                    </li>
                </ul>
            </li>
            <!-- <li class="{% if view_name  == 'blog:services' %}current_page_item{% endif %}">
                <a href="{% url 'blog:services' %}">Services</a>
            </li> -->
            <li class="{% if view_name  == 'contact:contact' %}current_page_item{% endif %}">
                <a href="{% url 'contact:contact' %}">Связь со мной</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="{% if view_name  == 'users:login' %}current_page_item{% endif %}">
                <a href="{% url 'users:login' %}">Войти</a>
            </li>
            <li class="{% if view_name  == 'users:signup' %}current_page_item{% endif %}">
                <a href="{% url 'users:signup' %}">Регистрация</a>
            </li>
            {% else %}
            <li>
                <a href="">$ {{ user.username }} $</a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'users:password_change_form' %}">Изменить пароль</a>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}">Выйти</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
        {% endwith %}
    </div>
    <!--end nav-->
</div>
<!--end header-->
