<div id="header">
    <h1>
        <a href="#">Rokono</a>
    </h1>
    <div id="nav">
        <ul class="menu">
            <li class="current_page_item">
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="portfolio.html">Portfolio</a>
                <ul class="sub-menu">
                    <li>
                        <a href="project.html">Latest Project</a>
                    </li>
                    <li>
                        <a href="#">Branding</a>
                    </li>
                    <li>
                        <a href="#">Online Marketing</a>
                    </li>
                    <li>
                        <a href="#">Search Engine Optimization</a>
                    </li>
                    <li>
                        <a href="#">Web Design</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="articles.html">Articles</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
    <!--end nav-->
</div>
<!--end header-->
