{% extends 'base.html' %}
{% load static %}
{% block title %}
  | Связь со мной
{% endblock title %}
{% block content %}
  <div id="main">
    <div id="contact-details">
      <h3 class="title">Будем на связи</h3>
      <p>Используй эту форму для отправки отзывов или предложений на мою почту.</p>
      <h3>Контакты</h3>
      <h4>
        Пачка: <span>lordsanchez</span>
      </h4>
      <h4>
        Email: <span>lordsanchez@yandex.ru</span>
      </h4>
      <h4>
        Telegram: <span>https://t.me/lordsanchez</span>
      </h4>
    </div>
    <!--end contact-details-->
    <div id="contact-form-container">
      <form id="contact-form" method="post" action="{% url 'contact:contact' %}">
        {% csrf_token %}
        <!--{{ form.as_p }}
        <input id="form_submit" class="submit" type="submit" name="submit" value="Submit &raquo;"/> -->
        <fieldset>
          <input id="form_name"
                 type="text"
                 name="name"
                 value="Ваше Имя"
                 onFocus="if(this.value=='Ваше Имя'){this.value=''};"
                 onBlur="if(this.value==''){this.value='Ваше Имя'};"/>
          <input id="form_email"
                 type="text"
                 name="email"
                 value="Ваш Email"
                 onFocus="if(this.value=='Ваш Email'){this.value=''};"
                 onBlur="if(this.value==''){this.value='Ваш Email'};"/>
          <input id="form_subject"
                 type="text"
                 name="inquiry"
                 value="Тема письма"
                 onFocus="if(this.value=='Тема письма'){this.value=''};"
                 onBlur="if(this.value==''){this.value='Тема письма'};"/>
          <textarea id="form_message" rows="10" cols="40" name="message"></textarea>
          <input id="form_submit"
                 class="submit"
                 type="submit"
                 name="submit"
                 value="Отправить &raquo;"/>
          <div class="hide">
            <label>Do not fill out this field</label>
            <input name="spam_check" type="text" value="" />
          </div>
        </fieldset>
      </form>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} "{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <!--end contact-form-container-->
  </div>
{% endblock content %}
